@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}

.mycard{
  margin-top: 30px;
}

.auth-card{
  padding: 20px;
  padding-top: 1px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.orline{
  color:gray;
  margin-top: 6px;
  margin-bottom: 16px;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}

.formstyle{
  width: 90%;
  height: 49px;
  padding-left: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 4px; 
  margin-left: 20px;
  resize: vertical 
}
.textcolor{
  color: rgb(8, 8, 139);
}
.termncond{
  width: 100%;
  color:rgb(151, 150, 150);
  padding-left: 10px;
}
.textbold
{
  font-weight: 70px;
}
.rowcard2 {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-evenly;
}
.rowgetapp {
  display: flex;
}

.columngetapp {
  flex: 50%;
  padding: 20px;
}
.getapp{
    padding: 10px;
    text-align: center;
    max-width: 400px;
    margin: 2px auto;
    
}

.btn{
  /* waves-effect waves-light #64b5f6 blue darken-1  */
  background-color: rgb(17, 167, 226);
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 7px;
  width:90%;
  border-radius: 6px;
}

.btnuploadphoto{
  background-color: rgb(17, 167, 226);
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  width:40%;
  height: 30px;
  padding-top: 4px;
  border-radius: 4px;
}

.welcometext
{
  color: gray;
  font-size:medium;
  font-weight:bold;
  margin: 20px;
  margin-top: 2px;
}

.signbtn{
  color: rgb(0, 110, 255);
}
.card2{
    border: 2px solid #ccc;
    border-radius: 2px;
    margin: 0;
    padding: 12px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  
}
.collection-item{
  width: 100%;
}


#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}


.material-icons:hover{
  cursor: pointer;
}