@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Hind&family=Lobster+Two&family=Nunito+Sans:wght@200&family=Oleo+Script&family=Open+Sans:wght@300&family=Pacifico&family=Roboto&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@400&display=swap');

.card-user-details h5{
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
    position: relative;
    bottom: 10px;
}
.like-count{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Roboto;
    margin-top: 0px;
}
.post-title{
    font-family: Hind;
    margin-bottom: 0px;
}
.post-body{
    font-family: Hind;
    margin-top: 0px;
}
.material-icons{
    margin-right: 13px;
    margin-left: -5px;
}
.delete-post{
    float: right;
}
.favorite{
    color: red;
}
.posted-by{
    font-weight: 500;
}
.delete-comment{
    float: right;
}