@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Hind&family=Lobster+Two&family=Nunito+Sans:wght@200&family=Oleo+Script&family=Open+Sans:wght@300&family=Pacifico&family=Roboto&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@400&display=swap');

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-container {
  height: 25vh;
  width: 65rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(201, 201, 201);
  margin-bottom: 3rem;
}
.top-container h6 {
  /* font-size: 1.5rem; */
}
.info {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.profile-pic {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Source Sans Pro;
  font-weight: bold;
}
.profile-stats span {
  font-weight: bold;
}
.email {
  font-weight: bold;
}

.button {
  margin: 0 0 0 3rem;
  width: 150px;
  background-color: transparent;
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: none;
  border: 1px solid black !important;
  text-transform: capitalize;
}

.button:hover {
  background-color: transparent;
  box-shadow: none;
}

.top-line {
  display: flex;
}

.profile-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Nunito Sans;
}

.top-line {
  font-size: 3rem;
}

.gallery {
  width: 65rem;
  height: auto;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
}

.gallery > * {
  width: 100%;
}

.user-unfollow,
.user-follow {
  height: 45px;
  width: 300px;
  background-color: transparent;
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: none;
  border: 1px solid black !important;
  text-transform: capitalize;
}
.user-follow {
  background-color: #0095f6;
  color: white;
  border: none !important;
  box-shadow: none;
}
.user-follow:hover {
  background-color: #0095f6;
}
.user-unfollow:hover {
  background-color: transparent;
  box-shadow: none;
}
.user-unfollow:focus,
.user-follow:focus {
  background-color: transparent;
  box-shadow: none;
}

@media only screen and (max-width: 820px) {
  .top-container {
    width: 50rem;
  }
  .gallery {
    width: 50rem;
  }
  .gallery > * {
    width: 222px;
  }
}
