.update-form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50% , -50%);
    padding: 20px;
    background: rgb(231,231,231);
    border-radius: 8px;
}

.update-form label{
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.update-form button{
    align-self: center;
    border: 1px solid transparent;
    background-color: red;
    padding: 6px 9px;
    border-radius: 3px;
    color: white;
}