@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Hind&family=Lobster+Two&family=Nunito+Sans:wght@200&family=Oleo+Script&family=Open+Sans:wght@300&family=Pacifico&family=Roboto&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@400&display=swap");

.modal-trigger {
  color: black;
}
.modal {
  color: black;
  width: 30vw;
  height: 40vh;
  border-radius: 10px;
}
.brand-logo {
  font-family: Cookie;
}
.nav-wrapper {
  padding: 0 13rem;
  border: 0.5px solid gray;
  box-shadow: none;
}

.nav-wrapper > *:hover {
  background-color: transparent;
}

.logout {
  background-color: #0095f6 !important;
}

.logout:hover {
  background-color: #0174f0 !important;
}

.modal-content div {
  display: flex;
}

.modal-input {
  width: 90% !important;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-footer button {
  background-color: #0095f6;
  color: white;
  border-radius: 5px;
}
