@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Hind&family=Lobster+Two&family=Nunito+Sans:wght@200&family=Oleo+Script&family=Open+Sans:wght@300&family=Pacifico&family=Roboto&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@400&display=swap");

.modal-trigger {
  color: black;
}
.modal {
  color: black;
}
.brand-logo {
  font-family: Cookie;
}

nav {
  padding: 0 13rem;
  background-color: white;
  height: 4rem;
  box-shadow: none;
  border-bottom: 1.5px solid rgb(235, 235, 235);
}
